/* footer */

.f-info-socials, .f-info-brand, .f-info-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-brand {
    margin-left: 0.5rem;
}
.f-info-socials {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    margin-left: 0.5rem;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    margin-left: 0.5rem;
}

.f-info {
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    bottom: 0;
    width: 100%;
}